.billio-input-slider-control input[type='range'] {
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.billio-image-selector-control .radio-button-label>img {
  cursor: pointer;
  border: 3px solid #fff;
  max-width: 90px !important;
}

.billio-image-selector-control .radio-button-label>input {
  display: none;
}

.billio-image-selector-control .radio-button-label>input:checked+img {
  border: 3px solid #e5a300;
}

.billio-image-selector-images {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.billio_text_radio_button_control::after {
  content: ' ';
  display: block;
  clear: both;
}

.billio_text_radio_button_control .radio-buttons {
  display: inline-block;
  border: 1px solid #fff;
}

.billio_text_radio_button_control .radio-button-label {
  cursor: pointer;
  float: left;
}

.billio_text_radio_button_control .radio-button-label span {
  cursor: pointer;
  font-weight: 500;
  border: 2px solid #fff;
  background-color: #fff;
  margin: 0;
  padding: 5px 15px;
  display: inline-block;
}

.billio_text_radio_button_control .radio-button-label>input {
  display: none;
}

.billio_text_radio_button_control .radio-button-label>input:checked+span {
  background-color: #e5a300;
  color: #fff;
}

.billio-input-slider-control .input {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 6px 0;
}

.billio-input-slider-control .value {
  min-width: 48px;
  text-align: right;
}

.billio-input-slider-control input[type='range'] {
  -webkit-appearance: none;
  cursor: col-resize;
  width: 100%;
  height: 6px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  background: #e3e3e3;
  outline: none;
}

.billio-input-slider-control input[type='range']::-moz-range-track {
  border: inherit;
  background: transparent;
}

.billio-input-slider-control input[type='range']::-ms-track {
  border: inherit;
  color: transparent;
  background: transparent;
}

.billio-input-slider-control input[type='range']::-ms-fill-lower,.billio-input-slider-control input[type='range']::-ms-fill-upper {
  background: transparent;
}

.billio-input-slider-control input[type='range']::-ms-tooltip {
  display: none;
}

.billio-input-slider-control input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 12px;
  border: none;
  border-radius: 12px;
  background-color: #e5a300;
}

.billio-input-slider-control input[type='range']::-moz-range-thumb {
  width: 24px;
  height: 12px;
  border: none;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background-color: #e5a300;
}

.billio-input-slider-control input[type='range']::-ms-thumb {
  width: 24px;
  height: 12px;
  border-radius: 12px;
  border: 0;
  background-color: #e5a300;
}
