.esg-singlefilters{
  display: none;
}
.add_to_cart_button{
  display: none !important;
}

html {
font-size: 16px !important;
  

}

.imagemquebrada{
  height: 100vh !important;
}

.h4-l h4{
font-size: 1rem !important;

margin-bottom: 12px !important;
}

.l-h3{
  font-size: 30px !important;
  text-transform: initial !important;
}

.kc_title{
  text-transform: initial;
}

.btn.btn-color-primary.btn-lg, .btn.btn-color-secondary.btn-lg, .btn.btn-success.btn-lg, .btn.btn-warning.btn-lg, .btn.btn-info.btn-lg, .btn.btn-danger.btn-lg {
  padding: 6px 25px;
  border-radius: 40px;
}
.btn.btn-color-primary {
  border: 0;
}
.btn.btn-color-primary, .btn.btn-color-secondary, .btn.btn-success, .btn.btn-warning, .btn.btn-info, .btn.btn-danger {
  border: 0;
  padding: 9px 20px;
}
#content .wpb_alert p:last-child, #content .wpb_text_column :last-child, #content .wpb_text_column p:last-child, .vc_message_box>p:last-child, .wpb_alert p:last-child, .wpb_text_column :last-child, .wpb_text_column p:last-child {
  margin-bottom: 0;
}
.btn-color-primary, .portfolio-navigation a.more-post, .shipping-calculator-button, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce.widget_product_search #searchsubmit, .woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt {
  background: #e5a300;
}
.wpb_single_image .vc_single_image-wrapper {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}
.wpb_single_image img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}
.wpb_single_image.vc_align_center {
  text-align: center;
}
.vc_custom_1493218933165 {
  margin-bottom: 0px !important;
  border-bottom-width: 0px !important;
  padding-bottom: 0px !important;
}
.vc_column_container>.vc_column-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.vc_custom_1492141645064 {
  margin-bottom: 0px !important;
  border-bottom-width: 0px !important;
  padding-bottom: 0px !important;
}

.btn {
  
  font-weight: 700 !important;
  text-transform: uppercase;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
}

.btn-color-primary, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce.widget_product_search #searchsubmit, .portfolio-navigation a.more-post, .dt-contact-form.on-dark input[type=submit], .woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .shipping-calculator-button, .dt-shop-category .owl-carousel-navigation .btn-owl {
  background: #e5a300;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 20px;
}
.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0px;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.8;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.vc_column_container {
  padding-left: 0;
  padding-right: 0;
}
.vc_column_container {
  padding-left: 0;
  padding-right: 0;
}

.vc_col-sm-9 {
  width: 75%;
}

.vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9 {
  float: left;
}

.vc_column_container {
  padding-left: 0;
  padding-right: 0;
}
.vc_column_container {
  padding-left: 0;
  padding-right: 0;
}
.vc_col-sm-3 {
  width: 25%;
}
.vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9 {
  float: left;
}
.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-md-1, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-xs-1, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.kc-css-836061{
  margin: 3rem 0rem !important;
}

#header-image .header-overlay{
padding-bottom: 45px !important;
}

#header-image .header-overlay .post-meta{
display: none;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav a{
font-size: 13px !important;
text-transform: uppercase !important;
}

#btn-l .kc_button{
  border-radius: 30px;
  color: #000 !important;
  padding: 4px 18px;
  font-size: 0.7rem;
  border: solid 1px;
  font-family: monospace;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0) !important;
  font-family: Lato,sans-serif;
  text-transform: uppercase;
}

.sticky--top #navigation{
margin-top: 12px !important;
}


.background-compromisso{
padding: 2rem !important;
padding-bottom: 0rem !important;
}


.vc_custom_1495838209808 {
  background-image: url(https://marpressbrasil.com.br/wp-content/uploads/2015/03/img-bannerss.jpg?id=12904) !important;
}

.kc-css-758735{
  background-image: url(https://marpressbrasil.com.br/wp-content/uploads/2015/03/img-bannerss.jpg?id=12904) !important;
  padding: 2rem 0 !important;
}

.kc-css-724040{
  background-image: url(https://marpressbrasil.com.br/wp-content/uploads/2015/03/img-bannerss.jpg?id=12904) !important;
  padding: 2rem 0 !important;
}

.kc-css-641896{
  margin: 2rem 0;
}


.custom-logo-link img{
max-height: 65px !important;
}


.sticky--top .custom-logo-sticky-link img{
  max-height: 65px;
}



body.kc-css-system .kc-css-720991{
  padding-bottom: 0px !important;
}

h4 {
text-transform: initial !important;
}

.kc-css-909459{
  margin: 2rem 0 !important;
}

.kc-css-237161{
  padding-bottom: 0px !important;
}   

.kc-css-414764 .kc_title{
  text-align: center !important;
  font-size: 1.7rem !important;
}

.kc-css-114960 .kc_column{
  padding-right: 0px !important; 
  padding-left: 0px !important; 
}


.box-l .content-desc{
min-height: 12rem;
}

/* dt iconboxes */
/* type 1 */

.dt-iconboxes {
  text-align: center;
  color: #666666;
}
.dt-iconboxes h4 {
  font-size: 16px;
}
.dt-iconboxes div p {
  font-size: 14px;
}

.dt-iconboxes span {
  text-align: center;
  font-size: 3.5em;
  color: #666666;
  border: 1px solid #aaaaaa;
  width: 100px;
  height: 100px;
  line-height: 100px;
  display: inline-block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  position: relative;
  margin-bottom: 30px;
  background-color: transparent; 
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

.dt-iconboxes span:after,
.dt-iconboxes span:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

.dt-iconboxes span:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ecf0f1; 
  border-width: 10px;
  margin-left: -10px;
}
.dt-iconboxes span:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #666666;
  border-width: 11px;
  margin-left: -11px;
}

.dt-iconboxes span:hover {
  background-color: #1abc9c;
  border: 1px solid #1abc9c; 
  color: #ffffff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}

.dt-iconboxes span:hover:after,
.dt-iconboxes span:hover:before {
  border-top: 11px solid #1abc9c;
  border-top-color: #1abc9c; 
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}


.dt-iconboxes > span a,
.dt-iconboxes > span:hover a{
  text-decoration: none;
}

.dt-iconboxes a,
.dt-iconboxes > span:hover a{
  color: inherit;
}


/* type 2 */


.dt-iconboxes-2 {
  text-align: center;
}

.dt-iconboxes-2 i {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff; 
  color: #666;
  font-size: 35px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  padding: 10px;
}
.dt-iconboxes-2:hover i {
  background-color: #1abc9c; /* done */
  color: #ffffff;
}

.dt-iconboxes-2 .dt-section-icon i.hi-icon {
  transition-duration: 1s;
  font-size: 68px;
  color: #666;
  margin: 0;
}
.dt-iconboxes-2 .dt-section-icon i.hi-icon:before {
  font-size: 35px;
  line-height: 45px;
}
.dt-iconboxes-2 h4 {
  line-height: 33px;
}
.dt-iconboxes-2 p {
  padding: 0 0 15px 0;
}
.dt-iconboxes-2:hover .dt-section-icon i.hi-icon {
  color: #ffffff;
  background-color: #1abc9c; /* done */
}

/* type 3 */

.dt-iconboxes.layout-3 h3{
  font-size: 80px;

  color: #1abc9c;
  margin: 18px 0 16px;

}

.dt-iconboxes.layout-3 h4 {
  text-align: center;
  font-size: 16px;
  color: #999999;
  text-transform: uppercase;

}

.dt-iconboxes.layout-3 span{
  color: #1abc9c;
  border-color:#1abc9c;
  background-color: #f6f7f7;
}


.dt-iconboxes.layout-3 span:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #f6f7f7;
  border-width: 10px;
  margin-left: -10px;
}
.dt-iconboxes.layout-3 span:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #1abc9c;
  border-width: 11px;
  margin-left: -11px;
}

.dt-iconboxes.layout-3 span:hover {
  background-color: #1abc9c; /* done */
  border-color:#1abc9c;
  color: #ffffff;
}
.dt-iconboxes.layout-3 span:hover:after,
.dt-iconboxes.layout-3 span:hover:before {
  border-top-color: #1abc9c; /* done */
}

/* type 4 */

.dt-iconboxes-4 {
  transition-duration: 1s;
  background-color: #a5a5a5;
  background-clip: padding-box;
  color: #ffffff;
  padding: 0;
  margin-top: 45px;
  text-align: center;
}

.dt-iconboxes-4 div[class*=col]{
  padding-left: 0;
  padding-right: 0;
}

.dt-iconboxes-4 p {
  margin: 10px 0;
}
.dt-iconboxes-4 .dt-section-icon {
  transition-duration: 0.3s;
  width: 100%;
  height: 125px;
  padding: 1px 0;
  margin: 0 auto 35px auto;
  background-clip: padding-box;
  position: relative;
  background-color: #ecf0f1; 
  color: #1abc9c;
}

.dt-iconboxes-4 .dt-section-icon:after,
.dt-iconboxes-4 .dt-section-icon:before {
  transition-duration: 0.3s;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 17px solid #ecf0f1; 
  bottom: -13px;
  content: '';
  left: 50%;
  margin-left: -17px;
  position: absolute;
}
.dt-iconboxes-4 .dt-section-icon i {
  transition-duration: .5s;
  font-size: 68px;
  color: #777;

}
.dt-iconboxes-4 h4 {
  line-height: 33px;
  color: #ffffff;
}
.dt-iconboxes-4 p {
  padding: 0;
}
.dt-iconboxes-4:hover {
  background-color: #777;
}
.dt-iconboxes-4:hover .dt-section-icon {
  background-color: #1abc9c; /* done */
}
.dt-iconboxes-4:hover .dt-section-icon:after,
.dt-iconboxes-4:hover .dt-section-icon:before {
  border-top-color: #1abc9c; /* done */
}
.dt-iconboxes-4:hover .dt-section-icon i {
  color: #ffffff;
}
.dt-iconboxes-4:hover .dt-section-icon i:hover {
  color: #1abc9c; /* done */
}
.dt-iconboxes-text {
  padding: 0;
}

.dt-iconboxes-4 .dt-section-icon i.hi-icon:before {
  font-size: 60%;
  position: absolute;
  left:-50%;
  margin: 0px;
  width: 100%;

  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0);

  -webkit-transition:all 0.1s;
  -moz-transition:all 0.1s;
  -ms-transition:all 0.1s;
  -o-transition:all 0.1s;
  transition:all 0.1s;
}

/* type 5 */

.dt-iconboxes-5 .hi-icon{
    border: 1px solid #ffffff;
    width: 55px;
    height: 55px;
    margin: 0;
}

.dt-iconboxes-5 .hi-icon-wrap > a{
  color:inherit;
}


.dt-iconboxes-5 .hi-icon:before{

  position: absolute;
  left:50%;
  top:50%;
  margin: 0;
  width: 100%;
  font-size: 28px;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%,-50%);

  -webkit-transition:all 0.1s;
  -moz-transition:all 0.1s;
  -ms-transition:all 0.1s;
  -o-transition:all 0.1s;
  transition:all 0.1s;
}

.hi-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em;
}
.hi-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 25px 30px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
}
.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.hi-icon:before {
  margin-left: 5px;
  speak: none;
  font-size: 55px;
  line-height: 65px;
  font-style: normal;

  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}


/* type 6 */
.dt-iconboxes.layout-6{
  padding: 20px;
  -webkit-transition: background 0.8s, color 0.2s;
  -moz-transition: background 0.8s, color 0.2s;
  -ms-transition: background 0.8s, color 0.2s;
  -o-transition: background 0.8s, color 0.2s;
  transition: background 0.8s, color 0.2s;

}

.dt-iconboxes.layout-6 i{
  font-size: 3.5em;
}

.dt-iconboxes.layout-6:hover{
  background-color: #1abc9c;
  color: #ffffff;
}


.dt-iconboxes.layout-6:hover h4{
  color: #ffffff;
}

/* type 7 */
.dt-iconboxes.layout-7,
.dt-iconboxes.layout-8{
  position: relative;

}

.dt-iconboxes.layout-7 i,
.dt-iconboxes.layout-8 i{
  font-size: 24px;
  line-height: 36px;
  width: 38px;
  height: 38px;
  top: 0;
  border-radius: 100%;
  display: block;
  text-align: center;
  position: absolute;
  color: #fff;
  background: #666;
}
.dt-iconboxes.layout-8 i{
  right: 0;
}

.dt-iconboxes.layout-7 i:before,
.dt-iconboxes.layout-8 i:before{
  margin: 0;
  padding: 0;
}

.dt-iconboxes.layout-7 .text-box,
.dt-iconboxes.layout-8 .text-box{
  position: relative;
}

.dt-iconboxes.layout-7 .text-box{
  margin: 0 0 0 60px;
  text-align: left;
}

.dt-iconboxes.layout-8 .text-box{
  text-align: right;
  margin: 0 60px 0 0;
}

.dt-iconboxes.layout-7:hover i,
.dt-iconboxes.layout-8:hover i{
  border-color: #1abc9c;
  background: #1abc9c;
}

/* Effect 5 */
.hi-icon-effect-5 .hi-icon {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0);
  overflow: hidden;
  -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}
.hi-icon-effect-5 .hi-icon:after {
  display: none;
}

.no-touch .dt-iconboxes-2:hover .hi-icon-effect-5a .hi-icon:before {
  -webkit-animation: toRightFromLeft 0.3s forwards;
  -moz-animation: toRightFromLeft 0.3s forwards;
  animation: toRightFromLeft 0.3s forwards;
}
.no-touch .dt-iconboxes-2:hover .hi-icon-effect-5b .hi-icon:before {
  -webkit-animation: toLeftFromRight 0.3s forwards;
  -moz-animation: toLeftFromRight 0.3s forwards;
  animation: toLeftFromRight 0.3s forwards;
}
.no-touch .dt-iconboxes-2:hover .hi-icon-effect-5c .hi-icon:before {
  -webkit-animation: toTopFromBottom 0.3s forwards;
  -moz-animation: toTopFromBottom 0.3s forwards;
  animation: toTopFromBottom 0.3s forwards;
}
.no-touch .dt-iconboxes-2:hover .hi-icon-effect-5d .hi-icon:before {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  -moz-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}


.no-touch .dt-iconboxes-4:hover .hi-icon-effect-5 .hi-icon {
  background: #ffffff;
  color: #1abc9c;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
}
.no-touch .dt-iconboxes-4:hover .hi-icon-effect-5a .hi-icon:before {
  -webkit-animation: toRightFromLeft 0.3s forwards;
  -moz-animation: toRightFromLeft 0.3s forwards;
  animation: toRightFromLeft 0.3s forwards;
}
.no-touch .dt-iconboxes-4:hover .hi-icon-effect-5b .hi-icon:before {
  -webkit-animation: toLeftFromRight 0.3s forwards;
  -moz-animation: toLeftFromRight 0.3s forwards;
  animation: toLeftFromRight 0.3s forwards;
}
.no-touch .dt-iconboxes-4:hover .hi-icon-effect-5c .hi-icon:before {
  -webkit-animation: toTopFromBottom 0.3s forwards;
  -moz-animation: toTopFromBottom 0.3s forwards;
  animation: toTopFromBottom 0.3s forwards;
}
.no-touch .dt-iconboxes-4:hover .hi-icon-effect-5d .hi-icon:before {
  -webkit-animation: toBottomFromTop 0.3s forwards;
  -moz-animation: toBottomFromTop 0.3s forwards;
  animation: toBottomFromTop 0.3s forwards;
}


.no-touch .dt-iconboxes-5:hover .hi-icon-effect-5 .hi-icon {
  color: #ffffff;
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.no-touch .dt-iconboxes-5:hover .hi-icon-effect-5a .hi-icon:before {
  -webkit-animation: toRightFromLeftInline 0.3s forwards;
  -moz-animation: toRightFromLeftInline 0.3s forwards;
  animation: toRightFromLeftInline 0.3s forwards;
}

@-webkit-keyframes toRightFromLeftInline {
  49% {
    -webkit-transform: translate(100%,-50%);  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%,-50%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toRightFromLeftInline {
  49% {
    -moz-transform: translate(100%,-50%);
  }
  50% {
    opacity: 0;
    -moz-transform: translate(-100%,-50%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeftInline {
  49% {
    transform: translate(100%,-50%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%,-50%);
  }
  51% {
    opacity: 0.2;
  }
}

/* section heading */

.dt-section-head{ clear: both;}

.dt-section-head.size-xlarge .section-main-title{
  font-size: 40px;
}
.dt-section-head.size-large .section-main-title{
  font-size: 35px;
}

.dt-section-head .section-main-title{
  font-size: 30px;
}
.dt-section-head.size-small .section-main-title{
  font-size: 20px;
}
.dt-section-head.size-exsmall .section-main-title{
  font-size: 16px;
}


.dt-section-head.center {  text-align: center;}
.dt-section-head .header-body{padding-bottom: 20px;}
.dt-section-head.left {  text-align: left;}
.dt-section-head.right {  text-align: right;}

.dt-section-head.center {  text-align: center;}
.dt-section-head .header-body{padding-bottom: 20px;}
.dt-section-head.left h2{  margin: 0 auto 0 0;}
.dt-section-head.right h2{ margin: 0 0 0 auto;}

.dt-section-head p.descriptionText {  margin: 0px auto;}


    .hide-overflow {overflow: hidden;}
    .dt-section-head {text-align:center;}
    .dt-section-head h2{margin:0 auto;display: table;padding:10px 0px;position:relative;line-height: 1.3em;}

    h2.section-heading-border{border:2px solid #222;padding-left: 10px;padding-right: 10px;}
    .section-heading-border-top-bottom {border-top:1px solid #222;border-bottom:1px solid #222;}

    .section-heading-polkadot-two-bottom:after {content:'';display:block;height:10px;background:url(../images/dot_forshort.png) repeat-x;width:60px;margin-top:10px;}
    .polka-center:after {margin:10px auto 0;}
    .polka-left:after {left:0;}
    .polka-right:after {position:relative;left:100%;margin-left:-60px;}


    h2.section-heading-colorblock {background-color: #333;color:#fff;padding-left: 10px;padding-right: 10px;}
    .section-heading-point-bottom {border-bottom:1px solid #222;}
    .section-heading-point-bottom:after,
    .section-heading-point-bottom:before {content:'';display:block;height: 10px;width: 10px;border:7px solid #000;border-top-color: #ccc;height:0;width:0;border-color:transparent;border-top-color:#fff/*imitate body background-color*/;left:50%;position: absolute;bottom:-14px;margin-left:-4px;}
    .section-heading-point-bottom:before {border:8px solid transparent;border-top-color: #000/* imitate line border color*/;margin-left:-5px;margin-bottom:-2px;}
    /*Firefox Hack for Section heading Point*/
    @-moz-document url-prefix() { 
      .section-heading-point-bottom:after {bottom:-13px;}
      .section-heading-point-bottom:before {margin-bottom:-2px;}
    } 
     .section-heading-thick-border:after {content:'';display:block;height:10px;width:90px;background:#222;margin-top:10px;}

    .section-heading-thick-border.thick-center:after {margin:10px auto 0;}
    .section-heading-thick-border.thick-left:after {position:relative;left:0;}
    .section-heading-thick-border.thick-right:after {position:relative;left:100%;margin-left:-90px;}

    .section-heading-thin-border:after {content:'';display:block;height:3px;width:50px;background:#222;margin-top:10px;}
    .section-heading-thin-border.thin-center:after {margin:10px auto 0;}
    .section-heading-thin-border.thin-left:after {position:relative;left:0;}
    .section-heading-thin-border.thin-right:after {position:relative;left:100%;margin-left:-50px;}

    h2.section-heading-polkadot-left-right {position: relative;padding:10px 20px;}
    .section-heading-polkadot-left-right:before,
     .section-heading-polkadot-left-right:after,
     .section-heading-polkadot-top:before,
     .section-heading-polkadot-bottom:after {
      content:'';display:block;height:10px;background:url(../images/dot_forlong.png) repeat-x;width:100%;position:absolute; top:50%;margin-top:-5px;
    }
    .section-heading-polkadot-left-right:before,
     .section-heading-polkadot-left-right:after {
      width:3000px;
     }
    .section-heading-polkadot-left-right:before {left:100%;}
    .section-heading-polkadot-left-right:after{right:100%;}
    h2.section-heading-polkadot-top,
    h2.section-heading-polkadot-bottom {padding:20px 0;}
    .section-heading-polkadot-top:before {top:0px;}
    .section-heading-polkadot-bottom:after {top:100%;}
    h2.section-heading-double-border-bottom {position: relative;padding-bottom:20px;}
    .section-heading-double-border-bottom:before ,
    .section-heading-double-border-bottom:after {content:'';width:50px;display:block;height:1px;background-color:#222;position: absolute;bottom:0;left:50%;margin-left:-25px;}
    .section-heading-double-border-bottom:before {bottom:5px;}

    .section-heading-double-border-bottom.double-border-bottom-left:after,
    .section-heading-double-border-bottom.double-border-bottom-left:before {left:0;margin-left:0px;}
    .section-heading-double-border-bottom.double-border-bottom-right:after,
    .section-heading-double-border-bottom.double-border-bottom-right:before {left:100%;margin-left:-50px;}

    h2.section-heading-thin-border-top-bottom {padding:20px 0;}
    .section-heading-thin-border-top-bottom:before,
    .section-heading-thin-border-top-bottom:after {content:'';width:100px;display:block;height:1px;background-color:#222;margin:0 auto;}
    .section-heading-thin-border-top-bottom:before {margin-bottom:10px;}
    .section-heading-thin-border-top-bottom:after {margin-top:10px;}

    .section-heading-thin-border-top-bottom.top-bottom-left:before,
    .section-heading-thin-border-top-bottom.top-bottom-left:after {margin-left:0;}
    .section-heading-thin-border-top-bottom.top-bottom-right:before,
    .section-heading-thin-border-top-bottom.top-bottom-right:after {margin-right:0;}

    /* decoration alignment */
    .section-heading-polkadot-two-bottom.polka-left,
    .section-heading-thin-border.thin-left,
    .dt-section-head.left .section-heading-double-border-bottom,
    .dt-section-head.left .section-heading-polkadot-left-right,
    .section-heading-thick-border.thick-left{padding-left: 0px;}
    .section-heading-polkadot-two-bottom.polka-right,
    .section-heading-thin-border.thin-right,
    .dt-section-head.right .section-heading-polkadot-left-right,
    .section-heading-thick-border.thick-right{padding-right: 0px;}

    svg {
          width: 128px;
          height: 30px;
          fill: currentColor;
          vertical-align: bottom;
        }

        .section-heading-swirl h1 {position:relative;padding-bottom:30px;overflow: hidden;}
        .section-heading-swirl h1:before{content:'';width:35%;height:2px;background-color:#666;display:block;position:absolute;bottom:0;}
        .section-heading-swirl h1:after{content:'';width:35%;height:2px;background-color:#666;display:block;position:absolute;bottom:0;right:0;}
        .section-heading-swirl svg {position: relative;bottom:15px;background-color: transparent;}
        .dt-section-head.left .section-heading-swirl:before, .dt-section-head.right .section-heading-swirl:before {display:none;}
        .dt-section-head.left .section-heading-swirl:after {width:100%;left:100px;}
        .dt-section-head.right .section-heading-swirl:after {width:100%;right:100px;}


@media (max-width: 768px) {
  .dt-section-head p.descriptionText {  width: 100%;}
}

.section-heading-colorblock,
.section-heading-polkadot-left-right,
.section-heading-border,
.section-heading-horizontal-line-fullwidth,
.section-heading-rounded,
.section-heading-horizontal-line-fullwidth,
.section-heading-horizontal-line {
    padding: 0 1em!important;
}

/* vertical slider */


.dt_vertical .cn_item {
  cursor: pointer;
  overflow: hidden;
  top: 0;
  position: relative;
}
.dt_vertical .cn_item i {
  font-size: 2.8em;
  padding: 7px 4px;
}

.dt_vertical{
  margin: 0 auto;
  width: 99%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.dt_vertical .cn_list{
  width: 33.33%;
}
.dt_vertical .cn_preview{
  width: 66.66%;
}

.dt_vertical .cn_list,.dt_vertical .cn_preview,.cn_item .vs_icon,.cn_item .vs_text{
  float: left;
  position: relative;
  min-height: 1px;
}


.dt_vertical .cn_list,
.dt_vertical .cn_preview {
  position: relative;
}

.cn_item .vs_icon{
  width: 16.666666666666664%;
}
.cn_item .vs_text{

  width: 83.33333333333334%;
}

.dt_vertical .cn_content {
  top: 1500px;
  left: 5px;
  width: 100%;
  position: absolute;
  height: auto;
}

.dt_vertical .vs-text-preview{
  display: none;
}

@media (min-width: 768px) and (max-width: 992px){

  .dt_vertical .cn_item .vs_icon{
    width: 30%;
  }
  .dt_vertical .cn_item .vs_text{
    width: 70%;
  }

}

@media (max-width: 992px){
  .dt_vertical .vs-text-preview{
    display: block;
  }

  .dt_vertical .cn_list .vs_description{
    display: none;
  }
}


@media (max-width: 768px){
  .dt_vertical .cn_item .vs_text{
    display: none;
  }
}

/* dt team item */
.dt_team_custom_item hr {  
  position: relative;  
  width: 0;
  margin-left: 0;
}

.dt_team_custom_item hr:after {
  content: "";
  display: block;
  height: 1px;
  width: 80px;
  background-color: #666; 
  position: absolute;
  left: 0%;
}

.dt_team_custom_item .left-item{
  width: 33.33333333333333%;
}

.dt_team_custom_item .right-item{
  width: 66.66666666666666%;
}

.dt_team_custom_item .left-item,.dt_team_custom_item .right-item{
  float: left;
  position: relative;
  min-height: 1px;
}

.dt_team_custom_item .profile-scocial {
  list-style: none outside none;
  padding-left: 0px;
  margin-top: 10px;
}

.dt_team_custom_item .profile-scocial {
  list-style: none outside none;
  padding-left: 0px;
  margin-top: 10px;
  margin-left: -3px;
}


.dt_team_custom_item .profile-scocial li {
    display: inline-block;
    padding-right: 3px;
}

.dt_team_custom_item.fix .profile-scocial {
  font-size: 24px;
}

@media (max-width: 480px){

  .dt_team_custom_item .left-item,
  .dt_team_custom_item .right-item{
      display: block;
      position: relative;
      width: 100%!important;
      text-align: center;
      float: none;

    }

   .dt_team_custom_item .left-item img{
      position: relative;
      -webkit-transform:translate(0%,0%);
      -moz-transform:translate(0%,0%);
      -ms-transform:translate(0%,0%);
      -o-transform:translate(0%,0%);
      transform:translate(0%,0%);
      left: 0;
      top: 0;

    }
    .dt_team_custom_item hr{
      position: relative;
      left: 50%;

    }
    .dt_team_custom_item hr:after {
      left: 0%;
      -webkit-transform:translate(-50%,0%);
      -moz-transform:translate(-50%,0%);
      -ms-transform:translate(-50%,0%);
      -o-transform:translate(-50%,0%);
      transform:translate(-50%,0%);

    }

}

/* dt timeline */

.dt-timeline{
  position: relative;
}
.dt-timeline:after {
  content:'';
  display:block;
  width:100%;
  clear:both;
}
.dt-timeline:before{
  content: "";
  display: block;
  height: 100%;
  width: 3px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background-color:rgba(0,0,0, 0.1);
}

.dt-timeline .time-separator{
  text-align: center;
}

.dt-timeline .time-item .center-line{
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
}
.dt-timeline .time-item .center-line {
  background-color:#fff!Important;
}
.dt-timeline .time-item .center-line.circle i{
  width:18px;
  height:18px;
  border:3px solid rgba(0,0,0, 0.1);
  display:block;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.dt-timeline .time-item .center-line.square i {
  width:18px;
  height:18px;
  border:3px solid rgba(0,0,0, 0.1);
  display:block;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


.dt-timeline .time-item .center-line i:after {
  content:'';
  border:4px solid #fff;
  width:26px;
  height:26px;
  display:block;
  position:absolute;
  top:-4px;
  left:-4px;
}

.dt-timeline .time-item .center-line.circle i{  border-radius: 100%;}
.dt-timeline .time-item .center-line.square i{  border-radius: 0;}


.dt-timeline .time-item .content-line{

  border: 1px solid rgba(0,0,0, 0.1);
  position: relative;
  padding: 20px;

  position: relative;
  background: #fff;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.dt-timeline .time-item.left .content-line{
  right: 100px;
}

.dt-timeline .time-item.right .content-line{
  left: 100px;
}

.dt-timeline .time-item:hover .content-line *{
  -webkit-transition:0s;
  -moz-transition:0s;
  -ms-transition:0s;
  -o-transition:0s;
  transition:0s;

}

.dt-timeline .time-item:hover .center-line i{
  background: #666;
  color: #fff;
}

.dt-timeline .time-item.left:hover .content-line{
  right: 45px;
}


.dt-timeline .time-item.right:hover .content-line{
  left: 45px;
}


.dt-timeline .time-item .content-line:before {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  display: block;
  width: 14px;
  height: 14px;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  background: #fff;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dt-timeline .time-item.left .content-line:before {
  right: -7px;
  border-right: 1px solid rgba(0,0,0, 0.1);
  border-top: 1px solid rgba(0,0,0, 0.1);
}

.dt-timeline .time-item.right .content-line:before {
  left: -7px;
  border-left: 1px solid rgba(0,0,0, 0.1);
  border-bottom: 1px solid rgba(0,0,0, 0.1);
}

.dt-timeline .time-item{

  padding: 45px 0;
  position: relative;
}

.dt-timeline .time-item.right {

  margin-left: 50%;
  text-align: left;
/*  margin-right: 0;*/
}

.dt-timeline .time-item.left{
  text-align: right;
/*  margin-left: 0;*/
  margin-right: 50%;
} 


.dt-timeline .time-item.left .center-line{
  right: -8px;

}

.dt-timeline .time-item.right .center-line{
  left: -10px;
}

@media handheld, only screen and (max-width: 767px) {

  .dt-timeline .time-item,.dt-timeline .time-item.right,.dt-timeline .time-item.left {

    margin-left: 0;
    margin-right: 0;
  }

  .dt-timeline .center-line {
    display:none;
  }

  .dt-timeline .time-item.left .center-line{
    right: 15px;

  }
  .dt-timeline .time-item.right .center-line{
    left: 15px;

  }

  .dt-timeline .time-item.left .content-line:before,
  .dt-timeline .time-item.right .content-line:before {
    display:none;
  }

  .dt-timeline .time-item.left .content-line,
  .dt-timeline .time-item.right .content-line,
  .dt-timeline .time-item.left:hover .content-line,
  .dt-timeline .time-item.right:hover .content-line {
    left:0;
    right:0;
  }

  .dt-timeline .time-item.right .content-line:before {
    left:-6px;
  }

  .dt-timeline .time-item.left .content-line:before {
    right: -6px;
  }

  .dt-timeline .time-item .content-line:before {
    width: 12px;
    height: 12px;
    margin-top: -6px;
  }
}

/* Price Table */
.dt-pricing-table .price-columns {
  padding: 0 20px;
  margin-top: 40px;
}
.dt-pricing-table .price-4-col,
.dt-pricing-table .price-3-col {
  padding: 0;
  color: #2a2929;
  position: relative;
  float: left;
}
@media (max-width: 768px) {
  .dt-pricing-table .price-4-col,
  .dt-pricing-table .price-3-col {
    margin-bottom: 40px;
  }
}
.dt-pricing-table .price-4-col ul,
.dt-pricing-table .price-3-col ul {
  margin-bottom: 0;
  position: relative;
}
.dt-pricing-table ul {margin:0 2px;border:1px solid rgba(0,0,0, 0.1);}
.dt-pricing-table .price-4-col ul li,
.dt-pricing-table .price-3-col ul li {
  padding: 9px 30px;
  text-align: center;
  position: relative;
  z-index: 3;
}
.dt-pricing-table .price-4-col ul li:nth-child(2n),
.dt-pricing-table .price-3-col ul li:nth-child(2n) {
  z-index: 0;
}


.dt-pricing-table .price-4-col ul li.hover-tip,
.dt-pricing-table .price-3-col ul li.hover-tip {
  padding: 0;
  position: relative;
  z-index: inherit;
}

.dt-pricing-table .price-4-col ul li.plan-head,
.dt-pricing-table .price-3-col ul li.plan-head {
  margin: 0;
  text-align: center;
  padding: 0;
  z-index: 3;
}
.dt-pricing-table .price-4-col ul p.hover-tip-text,
.dt-pricing-table .price-3-col ul p.hover-tip-text {
  margin: 0;
  display: block;
  width: 69%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  z-index: 0;
  -webkit-transition: bottom 0.2s;
  -moz-transition: bottom 0.2s;
  -o-transition: bottom 0.2s;
  -ms-transition: bottom 0.2s;
  transition: bottom 0.2s;
}


.dt-pricing-table .price-4-col:first-child ul,
.dt-pricing-table .price-3-col:first-child ul {
  -webkit-border-radius: 5px 0 0 3px;
  border-radius: 5px 0 0 3px;
  background-clip: padding-box;
}
.dt-pricing-table .price-4-col:first-child ul .plan-head,
.dt-pricing-table .price-3-col:first-child ul .plan-head {
  -webkit-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  background-clip: padding-box;
}
.dt-pricing-table .price-4-col:last-child ul,
.dt-pricing-table .price-3-col:last-child ul {
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-clip: padding-box;
}
.dt-pricing-table .price-4-col:last-child ul .plan-head,
.dt-pricing-table .price-3-col:last-child ul .plan-head {
  -webkit-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
  background-clip: padding-box;
}
.dt-pricing-table .price-4-col .plan-title,
.dt-pricing-table .price-3-col .plan-title {
  background-color: #2a2929;
  width: 82%;
  margin: 0 auto;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background-clip: padding-box;
  text-transform: uppercase;
  padding: 5px;
}
.dt-pricing-table .price-4-col .plan-price,
.dt-pricing-table .price-3-col .plan-price {
  font-size: 4em;
  position: relative;
}
.dt-pricing-table .price-4-col .plan-price span,
.dt-pricing-table .price-3-col .plan-price span {
  font-size: 0.7em;
  position: relative;
  top: -10px;

}
.dt-pricing-table .price-4-col .btn-active,
.dt-pricing-table .price-3-col .btn-active {
  padding: 5px 5px;
  background-color: #1abc9c; /* done */
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  color: #ffffff;
  position: relative;
  -webkit-box-shadow: 0 4px 0 #148f77;
  box-shadow: 0 4px 0 #148f77;
  margin: 10px 10px;
  text-transform: uppercase;
  font-size: 14px;
  padding:10px 20px;
}
.dt-pricing-table .price-4-col ul li.plan-action, .dt-pricing-table .price-3-col ul li.plan-action{
  padding:30px 0;
}

.dt-pricing-table .featured li {
  color:#fff;
}

.dt-pricing-table .price-4-col .btn-active p,
.dt-pricing-table .price-3-col .btn-active p,
.dt-pricing-table .price-4-col .btn-active h1,
.dt-pricing-table .price-3-col .btn-active h1,
.dt-pricing-table .price-4-col .btn-active h2,
.dt-pricing-table .price-3-col .btn-active h2,
.dt-pricing-table .price-4-col .btn-active span,
.dt-pricing-table .price-3-col .btn-active span,
.dt-pricing-table .price-4-col .btn-active i,
.dt-pricing-table .price-3-col .btn-active i {
  color: #ffffff;
}
.dt-pricing-table .price-4-col .btn-active:hover,
.dt-pricing-table .price-3-col .btn-active:hover {
  background-color: #18af91;
  -webkit-box-shadow: 0 4px 0 #14947b;
  box-shadow: 0 4px 0 #14947b;
  text-decoration: none;
}
.dt-pricing-table .price-4-col .btn-active:hover p,
.dt-pricing-table .price-3-col .btn-active:hover p,
.dt-pricing-table .price-4-col .btn-active:hover h1,
.dt-pricing-table .price-3-col .btn-active:hover h1,
.dt-pricing-table .price-4-col .btn-active:hover h2,
.dt-pricing-table .price-3-col .btn-active:hover h2,
.dt-pricing-table .price-4-col .btn-active:hover span,
.dt-pricing-table .price-3-col .btn-active:hover span,
.dt-pricing-table .price-4-col .btn-active:hover i,
.dt-pricing-table .price-3-col .btn-active:hover i {
  color: #ffffff;
}
.dt-pricing-table .price-4-col .btn-active:active,
.dt-pricing-table .price-3-col .btn-active:active {
  top: 3px!important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dt-pricing-table .price-4-col {
  width: 25%;
}
.dt-pricing-table .price-3-col {
  width: 33.3%;
}

@media (max-width: 768px) {
  .dt-pricing-table .featured.price-4-col,
  .dt-pricing-table .featured.price-3-col,
  .dt-pricing-table .price-4-col,
  .dt-pricing-table .price-3-col {
    width: 100%;
  }
}



/* dt Progress Bars */
.progress_bars {
  width: 100%;
  overflow: hidden;
}
.progress_bars .progress_bar {
  position: relative;
  margin: 0 0 24px;
}
.progress_bars .progress_bar i{
  font-size: 24px;
}
.progress_bars .progress_content_outer {
  height: 30px;
  background-color: #ecf0f1;
  width: 90%;
  position: relative;
}
@media (max-width: 768px) {
  .progress_bars .progress_content_outer {
    width: 85%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .progress_bars .progress_content_outer {
    width: 85%;
  }
}

.progress_bars .progress_content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  background: 0;
  background-color: #1abc9c;
}


.progress_bars .progress_number {
  font-size: 24px;
  line-height: 24px;

  color: #2a2929;
  text-align: left;
  z-index: 10;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* dt circle bar */


.dt_circlebar .pie_chart_holder .easyPieChart {
  margin: 0 auto;
  text-align: center;
}
.dt_circlebar .pie_chart_text {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

}
.dt_circlebar .tocounter {
  color: #1abc9c; 
  font-size: 41px;

  width: 100%;
  text-align: center;
}
.dt_circlebar .tocounter-unit {
  color: #1abc9c; 
  font-size: 41px;
}

/* graph */

/* Pie Graph */
.pie_graf_holder,
.line_graf_holder {
  display: block;
  position: relative;
  overflow: hidden;
}
.pie_graf {
  margin: 0;
  width: 250px;
  float: left;
}
.line_graf {
  margin: 0 20px 0 0;
  float: left;
}
.pie_graf_legend {
  width: auto;
  float: left;
  margin-left: 30px;
  position: relative;
  padding-top: 20px;
}
.line_graf_legend {
  position: relative;
  float: left;
  width: 20%;
}
.line_graf_legend {
  width: auto;
}
.pie_graf_legend ul li,
.line_graf_legend ul li {
  display: block;
  margin: 0 0 10px;
}
.pie_graf_legend ul li .color_holder,
.line_graf_legend ul li .color_holder {
  width: 25px;
  height: 25px;
  background-color: #69b200;
  float: left;
}
.pie_graf_legend ul li p,
.line_graf_legend ul li p {
  line-height: 25px;
  margin: 0;
  padding: 0 0 0 40px;
}
.progress_bars_vertical_holder {
  display: inline-block;
  width: 100%;
  position: relative;
}
.progress_bars_vertical {
  display: inline-block;
  position: relative;
  float: left;
  margin: 0 .3% 0 0;
}
.progress_bars_vertical:last-child {
  margin: 0;
}
.progress_bars_vertical .progress_content_outer {
  height: 200px;
  position: relative;
}
.progress_bars_vertical .progress_content_outer .progress_content {
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0;
  background: 0;
  background-color: #1abc9c;
}
.progress_bars_vertical .progress_number {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #333;
  margin: 25px 0 10px;
  display: block;
  position: relative;
}
.progress_bars_vertical .progress_title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  display: block;
}

.optin_code{
  position:absolute; top:-10000px; left:-10000px; z-index:300;
}

/* dt partner */
.dt-partner .partner-item{
  text-align: center;
  padding: 20px;
}

.dt-partner .partner-item img{
  max-width: 100%;
}

.dt-partner .border-right{
  border-right: solid 1px;
}

.dt-partner .partner-item.border-right,
.dt-partner .partner-item.dummy
{
  border-top: solid 1px;
}

.dt-partner .border-right.col-sm-12{
  border-right:none; 
}

.dt-partner .border-right:last-child
{
  border-right:none!important;
}


@media (min-width: 1200px) {
  .dt-partner .border-right.col-lg-3:nth-child(1),
  .dt-partner .border-right.col-lg-3:nth-child(2),
  .dt-partner .border-right.col-lg-3:nth-child(3),
  .dt-partner .border-right.col-lg-3:nth-child(4),
  .dt-partner .border-right.col-lg-2:nth-child(1),
  .dt-partner .border-right.col-lg-2:nth-child(2),
  .dt-partner .border-right.col-lg-2:nth-child(3),
  .dt-partner .border-right.col-lg-2:nth-child(4),
  .dt-partner .border-right.col-lg-2:nth-child(5),
  .dt-partner .border-right.col-lg-2:nth-child(6)
  {
    border-top: none;
  }

  .dt-partner .col-lg-3:nth-child(4n+0),
  .dt-partner .col-lg-3:last-child,
  .dt-partner .col-lg-2:nth-child(6n+0),
  .dt-partner .col-lg-2:last-child
  {
    border-right: none;
  }

  .dt-partner .border-right.col-md-4:nth-child(3n):not(.col-lg-3)
  {
    border-right: none;
  }
}

@media (min-width: 993px) {

  .dt-partner .border-right.col-md-4:nth-child(1),
  .dt-partner .border-right.col-md-4:nth-child(2),
  .dt-partner .border-right.col-md-4:nth-child(3),
  .dt-partner .border-right.col-md-3:nth-child(1),
  .dt-partner .border-right.col-md-3:nth-child(2),
  .dt-partner .border-right.col-md-3:nth-child(3),
  .dt-partner .border-right.col-md-3:nth-child(4),
  .dt-partner .border-right.col-md-6:nth-child(1),
  .dt-partner .border-right.col-md-6:nth-child(2),
  .dt-partner .border-right.col-sm-12:nth-child(1)
  {
    border-top: none;
  }

  .dt-partner .border-right.col-md-6:nth-child(2n),
  .dt-partner .border-right.col-sm-12
  {
    border-right: none;
  }

}

@media (min-width: 993px) and (max-width: 1199px) {

  .dt-partner .border-right.col-md-4:nth-child(3n),
  .dt-partner .border-right.col-md-3:nth-child(4n)
  {
    border-right: none;
  }

}

@media (min-width: 769px) and (max-width: 992px) {
  .dt-partner .border-right.col-sm-6:first-child,
  .dt-partner .border-right.col-sm-6:nth-child(2),
  .dt-partner .border-right.col-sm-12:nth-child(1) {
    border-top: none;
  }

  .dt-partner .border-right.col-sm-6:nth-child(2n){
    border-right: none;
  }

}

@media (max-width: 768px) {
  .dt-partner .border-right.col-xs-6:last-child,
  .dt-partner .border-right.col-xs-6:nth-child(2n)
  {
    border-right: none;
  }

  .dt-partner .border-right.col-xs-6:nth-child(1),
  .dt-partner .border-right.col-xs-6:nth-child(2)
  {
    border-top: none;
  }


}

@media (max-width: 480px) {
  .dt-partner .border-right.col-xs-6 {
    width: 100%;
    border-right: none;
  }
}

/* google map */
.google-map{
  margin: 0px;
  padding: 0px

}

/* dt social box */

/* DT Social */
.dt-social [class^="icon-"]:before, .dt-social [class*=" icon-"]:before {
  line-height: inherit;
}
.dt-social {
  margin: 0;
  padding: 0;
  text-align: center;
}

.dt-social.align-left {
  text-align: left;
}

.dt-social.align-right {
  text-align: right;
}

.dt-social li {
  list-style: none;
  display: inline-block;
  background-color: #000;
  margin: 2px;
}
.dt-social.size-small li {
  margin:2px;
}
.shape-rounded li {
  border-radius: 10px;
}
.shape-rounded.size-small li {
  border-radius:4px;
}
.shape-circle li {
  border-radius: 50%;
}

.dt-social li a {
  color: #fff;
  padding: 0.34em;
  font-size: 1.4em;
  line-height: 2;
}

@media \\0 screen { 
  .dt-social li a {
    padding: 0.43em;
  }
}
    
.dt-social li a:hover {
  border: 0;
}

.dt-social.size-small {
  font-size:0.5em;
}
.dt-social.size-large {
  font-size:1.5em;
}
.dt-social.align-right {
  text-align: right;
}
.dt-social.align-center {
  text-align: center;
}

 /* DT Countdown */
.dt-countdown .is-countdown {border:0;background:none;}
.dt-countdown .is-countdown:after {content:'';width:100%;display:block;clear:both;}
.dt-countdown .countdown-amount {padding:10px 0px 10px 0px;display:inline-block;line-height:1;border:3px solid #515151;font-size:1.4em!important;margin-bottom:10px;width:40px}
@media (min-width:768px) {
  .dt-countdown .countdown-amount {padding:20px 0px 20px 0px;display:inline-block;line-height:1;border:4px solid #515151;font-size:3em!important;margin-bottom:10px;width:80px}
}
@media (min-width:1024px) {
  .dt-countdown .countdown-amount {padding:20px 0px 20px 0px;display:inline-block;line-height:1;border:5px solid #515151;font-size:4em!important;margin-bottom:10px;width:100px}
}
.dt-countdown .countdown-section {font-size:inherit;}
.dt-countdown .countdown-period {text-transform:uppercase;}
.dt-countdown-medium .dt-countdown .countdown-amount {padding:10px 0px 10px 0px;display:inline-block;line-height:1;border:4px solid #515151;font-size:3em!important;margin-bottom:10px;width:80px;}
.dt-countdown-small .dt-countdown .countdown-amount {padding:6px 0px 6px 0px;display:inline-block;line-height:1;border:3px solid #515151;font-size:1.4em!important;margin-bottom:10px;width:40px}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: .8s;
  -moz-transition-duration: .8s;
  -ms-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
}
.isotope {
  -webkit-transition-property: height,width;
  -moz-transition-property: height,width;
  -ms-transition-property: height,width;
  -o-transition-property: height,width;
  transition-property: height,width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform,opacity;
  transform: translate(0, 0) scale(1);
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -ms-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
  display: none;
}


.left h1{
  text-align: right;
  font-size: 2.3rem;
  color: #e5a300;
  padding: 1rem 1rem 0rem 1rem;
}


.right h1{
  text-align: left;
  font-size: 2.3rem;
  color: #e5a300;
  padding: 1rem 1rem 0rem 1rem;
}

.right p{
  text-align: left;

}

.left p{
  text-align: left;

}

.dt-timeline .time-item.right {
  float: right;
  clear: right;
}

.dt-timeline .time-item {
  width: 50%;
  position: relative;
  float: left;
  clear: left;
  margin-right: auto!important;
  margin-left: auto!important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dt-timeline .time-item.right {
  float: right;
  clear: right;
}
.dt-timeline .time-item.right {
  margin-left: 50%;
  text-align: left;
  /* margin-right: 0; */
}
.dt-timeline .time-item {
  width: 50%;
  position: relative;
  float: left;
  clear: left;
  margin-right: auto!important;
  margin-left: auto!important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.dt-timeline .time-item {
  padding: 45px 0;
  position: relative;
}
.testimonial-content:before {


content: "\f10e";
right: -56px;
bottom: 0;
}

.testimonial-content:after {
content: "\f10d";
left: -56px;
top: 0;
}

.testimonial-content:before, .testimonial-content:after {
font-family: FontAwesome;
color: #CDCDCD;
font-size: 36px;
font-style: normal;
line-height: 36px;
position: absolute;
width: 36px;
}

.testimonial-content {
font-size: 1.3em;
font-style: italic;
margin: 0 80px;
position: relative;
text-align: center;
}


.l-h3{
font-size: 25px !important;
  text-transform: initial !important;
}

.dt-timeline .time-item.left:hover .content-line {
right: 40px;
} 

.dt-timeline .time-item:hover .content-line {
border-color: #e5a300;
}

.dt-timeline .time-item:hover .content-line:before {
border-color: #e5a300;
}

.dt-timeline .time-item:hover .center-line i {
background: #e5a300;
}

.kc-css-29323{
padding-bottom: 0px !important;
}

.eg-washingtone-075257-element-10{
font-size: 40px !important;
}

.eg-washingtone-075257-element-3{
min-height: 11.5rem !important;
padding: 5px;
}

.woocommerce ul.products {
  height: 100%;
}
.woocommerce .products ul, .woocommerce ul.products {
  margin: 0 0 1em;
  padding: 0;
  list-style: none outside;
  clear: both;
}
.woocommerce ul.products, .woocommerce-page ul.products {
  clear: both;
}

.woocommerce .products ul::after, .woocommerce .products ul::before, .woocommerce ul.products::after, .woocommerce ul.products::before {
content: ' ';
display: table;
}

.woocommerce ul.products::after, .woocommerce ul.products::before, .woocommerce-page ul.products::after, .woocommerce-page ul.products::before {
content: ' ';
display: table;
}

.woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
width: 22.75%;
}
.woocommerce ul.products li.product {
background-color: #fff;
-webkit-transition: opacity .2s ease-out,-webkit-box-shadow .3s ease-out,-webkit-transform .3s ease-out;
transition: opacity .2s ease-out,-webkit-box-shadow .3s ease-out,-webkit-transform .3s ease-out;
-moz-transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out,-moz-box-shadow .3s ease-out,-moz-transform .3s ease-out;
transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out;
transition: box-shadow .3s ease-out,transform .3s ease-out,opacity .2s ease-out,-webkit-box-shadow .3s ease-out,-moz-box-shadow .3s ease-out,-webkit-transform .3s ease-out,-moz-transform .3s ease-out;
-webkit-transition-delay: .1s;
-moz-transition-delay: .1s;
transition-delay: .1s;
overflow: hidden;
-webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
transform: translateZ(0);
display: inline-block;
border: 0;
margin: 12px;
-webkit-box-shadow: 0 2px 20px 0 rgba(0,0,0,.08);
-moz-box-shadow: 0 2px 20px 0 rgba(0,0,0,.08);
box-shadow: 0 2px 20px 0 rgba(0,0,0,.08);
}
.woocommerce .woocommerce-ordering ul.products li.product, .woocommerce-page ul.products li.product {
width: 22.75%;
}
.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
clear: both;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
float: left;
margin: 0 3.8% 2.992em 0;
padding: 0;
position: relative;
width: 22.05%;
margin-left: 0;
}
.woocommerce .products ul li, .woocommerce ul.products li {
list-style: none outside;
}

.woocommerce ul.products li.product a {
text-decoration: none;
}

.woocommerce ul.products li.product .button {
width: auto;
margin: 24px;
}
.woocommerce ul.products li.product .button {
margin-top: 1em;
}
.woocommerce ul.products li.product a {
text-decoration: none;
}
.woocommerce a.button {
display: block;
width: 100%;
-moz-border-radius: 40px;
border-radius: 40px;
border: 1px solid #e3e3e3;
background-color: #fff;
padding: 12px;
text-align: center;
text-transform: uppercase;
font-family: Montserrat,sans-serif;
font-size: 14px;
line-height: 1.5;
letter-spacing: 2px;
color: #333;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
font-size: 100%;
margin: 0;
line-height: 1;
cursor: pointer;
position: relative;
text-decoration: none;
overflow: visible;
padding: .618em 1em;
font-weight: 700;
border-radius: 3px;
left: auto;
color: #515151;
background-color: #ebe9eb;
border: 0;
display: inline-block;
background-image: none;
box-shadow: none;
text-shadow: none;
}

.woocommerce-product-rating{ 

display: none !important;
}

.woocommerce-product-details__short-description strong{

font-size: 1.15rem !important;
color: #DB9233 !important;

}

.price{
display: none;
}

.quantity{
display: none !important;
}

.single_add_to_cart_button{
width: 100% !important;
}

.woocommerce-tabs .wc-tabs{
display: none;
}

#box-produtos .content-title{
  font-size: 14px !important;
font-weight: 900 !important;
text-transform: initial !important;
}


#box-produtos .box-right{
  min-height: 3.7rem;
}
#box-produtos .kc-fb-layout-4 .content-image{
width: 12% !important;
}

.cart{
  display: none;
}

#cart{
  display: block;
}

.star-rating{
  display: none !important;
}

.price{
  display: none !important;
}


.meta-author{
  display: none;
}

.entry__meta-author__gravatar{

  display: none !important;

}

.single-post #header-image .header-overlay .post-meta{
    display: block;
    font-size: 0px;
}

.single-post #header-image .header-overlay .post-meta .post-meta-author{
    display: none;
}

.single-post #header-image .header-overlay .post-meta .post-meta-date{
  font-size: 16px !important;
}

.table td, .table th, table td, table th{

  font-size: 11px !important;
  font-weight: initial !important;
}

.table thead th, table thead th{
  color: #000 !important;
  font-weight: 900 !important;
}

.page-id-11677 .esg-entry-media-wrapper{
  position: initial !important;
}


.page-id-11677 .esg-layout-even .esg-entry-media img{
  display: block !important;
}


.page-id-11677 .esg-layout-even .esg-entry-media {
  display: block !important;
  padding-bottom: initial !important;
}

.page-id-11677 #books .esg-bc{
  bottom: initial !important;
  left: initial !important;
}

.page-id-11677 #books .eec {
  position: fixed !important;
}
.page-id-11677 .esg-entry-cover .esg-overlay{

  top: 0;
  visibility: hidden !important;
  opacity: 1 !important;
  transform-style: flat !important;
  transform: initial !important;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0 solid transparent;
  outline: 0 solid transparent;
  position: initial !important;

}

.page-id-11677 #books .esg-grid .mainul, .page-id-11677 .esg-grid .mainul>li{
  height: 1000px !important;
}


#carousel-parceiros img{
  /*max-width: 70% !important;*/
  /*height: 90px !important;*/
  width: auto;
    height: 90px !important;
    padding: 10px;
}


#carousel-parceiros .item{
  text-align: center;
}

.billio-navigation-active.billio-sticky #header + div, .billio-navigation-active.billio-sticky #header + main, .billio-navigation-active #header.sticky--pinned + div, .billio-navigation-active #header.sticky--pinned + main{
  margin-top: 0px !important;
}



@media (max-width: 568px) {
  .home .sticky--top .custom-logo-link, .home.page .sticky--top .custom-logo-link{
    margin-left: 39px !important;
  }
  .custom-logo-sticky-link{
    margin-left: 39px !important;
  }
  .background-compromisso{
    padding: 0px !important;
  }
}

.kc-css-902026{
  display: none !important; 
}

.kc-css-816257{
  text-align: center;
}

.kc-css-816257 .kc_title{
  font-weight: 800;
  text-align: center;
}


.kc-row-container .kc-wrap-columns, .kc_row_inner{
  display: block !important; 
}

.page-id-227 #carousel-parceiros img{
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .6s ease;
}

.page-id-227 #carousel-parceiros img:hover{
  -webkit-filter: grayscale(0%);
  -webkit-transition: all .6s ease;
}


