/*
Theme Name: Billio
Theme URI: http://demo.detheme.com/billio-landing/
Author: deTheme
Author URI: http://vastthemes.com
Description: The Awesome Wordpress Theme by detheme.
Version: 2.0.0
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Billio
Tags: editor-style, featured-images, post-formats, translation-ready, left-sidebar, right-sidebar, three-columns, custom-background, custom-colors, custom-header, flexible-header, custom-menu
*/

/*
This file is just used to identify the theme in WordPress.
The compiled CSS output can be found in /assets/
*/

.billio-classic-layout main#content #archive-post .format-quote blockquote p, .billio-classic-layout main#content #blog-entries .format-quote blockquote p, .billio-classic-layout main#content #category-post .format-quote blockquote p, h2 {
	letter-spacing: -0.064rem;
}

.titlist_sist-grav {
	/*color: red;*/
}

.woocommerce ul.products li.product h2.woocommerce-loop-product__title {
font-size: 21px !important;
    letter-spacing: 0;
    line-height: 1.5em !important;
    min-height: 112px;
 }


 .related-posts .card-title {
    /* overflow: hidden; */
    max-height: 4rem;
    -webkit-line-clamp: 2;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 2.5rem;
    font-size: 0.9rem;
}